@import "/src/scss/style.scss";

.short-sentence {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  padding-bottom: 8rem;

  .response {
    @include max-len-indicator;
    display: flex;
    align-items: flex-end;
  }
}
