@import "/src/scss/style.scss";

.view-frame {
  @include round;
  margin: 3rem auto;
  padding: $card-padding;
  width: 640px;
  height: 400px;
  box-shadow: $shadow-default;

  @include mobile {
    width: 300px;
  }
}
