@import "/src/scss/style.scss";

.tooltip {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  .tooltiptext {
    visibility: hidden;
    width: 4rem;
    background-color: #707070;
    color: #fff;
    text-align: center;
    word-break: keep-all;
    padding: 5px 2px;
    border-radius: 6px;
    bottom: 30%;
    position: absolute;
    font-size: $fs-sm;
    &.sm {
      width: 4rem;
    }
    &.md {
      width: 7rem;
    }
    &.lg {
      width: 9rem;
    }
    &.left {
      transform: translateX(-100%);
    }
    &.direct {
      transform: translate(10%, 40%);
    }
    &.bottom {
      transform: translate(-60%, 120%);
    }
  }
  &:hover {
    .tooltiptext {
      visibility: visible;
    }
  }
}
