@import "/src/scss/style.scss";

.my-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: scroll;

  .make-survey {
    width: 12rem;
    height: 15rem;
    border-radius: 10px;
    background-color: #fff;
    h3 {
      font-size: $fs-sm;
      font-weight: $fw-bold;
      color: #2b44ff;
    }
  }
  .info {
    margin-top: 10rem;
    font-size: $fs-rg;
  }
  .partition {
    width: 10rem;
    height: 2px;
    margin-top: 5rem;
    background-color: #b0b0b0;
  }
  .my-form {
    margin-top: 7rem;
  }
  .no-survey {
    @include round;
    box-shadow: $shadow-default;
    padding: 0.7rem 2rem;
    width: 20rem;
    margin-top: 3rem;
    color: #fff;
    background: linear-gradient(to right, #707070, #b0b0b0);
  }
  .surveys {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 80%;
    height: 100%;

    &:last-child {
      justify-content: flex-start;
    }

    h2 {
      margin-bottom: 1rem;
    }
    .survey {
      display: flex;
      align-items: center;
      position: relative;
      width: 12rem;
      margin: 0 5rem;
      margin-top: 10rem;

      .dot {
        position: absolute;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        box-shadow: $shadow-default;
        background-color: #e22f1b;
        z-index: 3;
      }

      .dot-position {
        transform: translateY(-9.5rem);
      }

      .title {
        position: relative;
        box-shadow: $shadow-default;
        width: 12rem;
        height: 15rem;
        overflow: scroll;
        z-index: 2;
        background-color: #fff;
        border-radius: 10px;
        h3 {
          padding: 1rem;
          font-size: $fs-rg;
          font-weight: $fw-bold;
        }
        p {
          padding: 1rem;
          font-size: $fs-sm;
          text-overflow: ellipsis;
        }
      }

      .buttons {
        position: absolute;
        transform: translateX(7rem);
        margin-left: 1rem;
        z-index: 0;

        .link {
          position: absolute;
          left: 0;
          top: 0;

          display: flex;
          align-items: center;
          background-color: transparent;
          padding: 0;
          margin-bottom: 0.5rem;
          text-align: center;
          cursor: pointer;
          transition-duration: 500ms;
          transform: translate(1rem, -50%);

          img {
            width: 3rem;
          }

          &.published {
            cursor: default;
            opacity: 0.2;
          }
        }
      }

      &.appear {
        .buttons {
          .link {
            &:nth-child(1) {
              transform: translateX(-32rem) translate(-50%, -50%) rotate(-10deg) translateX(40rem);
            }

            &:nth-child(2) {
              transform: translateX(-32rem) translate(-50%, -50%) rotate(-5deg) translateX(40rem);
            }

            &:nth-child(3) {
              transform: translateX(-32rem) translate(-50%, -50%) translateX(40rem);
            }

            &:nth-child(4) {
              transform: translateX(-32rem) translate(-50%, -50%) rotate(5deg) translateX(40rem);
            }

            &:nth-child(5) {
              transform: translateX(-32rem) translate(-50%, -50%) rotate(10deg) translateX(40rem);
            }
          }
        }
      }
    }
  }

  @include mobile {
    .make-survey {
      width: 1px;
      height: 1px;
      opacity: 0;
      z-index: -100;
    }
    .my-form {
      margin-top: 2rem;
    }
    .no-survey {
      width: 100%;
    }
    .surveys {
      margin-top: 1rem;
      .survey {
        .status {
          margin-right: 0.5rem;
          width: 3rem;
        }
        .title {
          width: 10rem;
        }
        .link {
          display: flex;
          align-items: center;
          margin-left: 0;
          width: 2.3rem;
          height: 2.8rem;
          img {
            width: 90%;
          }
        }
      }
    }
  }
}
