@import "/src/scss/style.scss";

.my-page {
  width: 100%;
  height: 100%;
  position: relative;
  .side-bar {
    position: absolute;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: transparent;
    padding-top: 10rem;
    padding-left: 2rem;
    .section {
      display: flex;
      align-items: center;
      color: #fff;
      width: 60%;
      height: 3rem;
      margin-bottom: 1rem;
      padding: 1.5rem 1.5rem;
      border-radius: 15px;
      font-weight: $fw-bold;
      background: linear-gradient(to right, #2b44ff, #2b44ff);
      transition-duration: 300ms;
    }
  }
  @include laptop {
    .surveys {
      .surveys-inner-box {
        grid-template-columns: repeat(5, 1fr);
      }
    }
  }
  @include tablet {
    .side-bar {
      .section {
        width: 85%;
        font-size: $fs-sm;
      }
    }
    .surveys {
      .surveys-inner-box {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
