@import "/src/scss/style.scss";

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  h1 {
    font-size: $fs-xl;
  }

  .chaos {
    z-index: -1;
  }

  @include mobile {
    h1 {
      position: absolute;
      left: 3rem;
      bottom: 5rem;
      font-size: $fs-lg;
      z-index: 2;
    }
  }
}
