@import "/src/scss/style.scss";

.preference-view {
  @include round;
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  padding: $card-margin;
  width: 640px;
  height: 400px;
  box-shadow: $shadow-default;
  background-color: #fff;
  transition-duration: 500ms;

  h1 {
    font-weight: 700;
    margin-bottom: 3rem;
  }

  .chart {
    width: 70%;
    margin: 0 auto;
  }
}
