@import "/src/scss/style.scss";

.preference-view {
  @include round;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem auto;
  width: 640px;
  height: 400px;
  box-shadow: $shadow-default;
  background-color: #fff;
  transition-duration: 500ms;

  .chart {
    width: 50%;
    margin-left: 1rem;
  }
}
