.fade-box-fader {
  position: absolute;
  width: 100%;
  left: 0;
  background-color: transparent;
  z-index: 1;
}

.fade-box-top {
  top: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.fade-box-bottom {
  bottom: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}
