@import "/src/scss/style.scss";

.error {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .logo {
    position: absolute;
    top: 3rem;
    left: 3rem;
    width: 8rem;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .contents {
    position: absolute;
    left: 10rem;
    h1 {
      font-size: $fs-xl;
      margin-bottom: 1rem;
    }
    p {
      font-size: $fs-md;
      font-weight: 700;
      strong {
        font-weight: 700;
        color: #2b44ff;
      }
    }
  }

  .chaos {
    z-index: -1;
  }

  @include mobile {
    contents {
      left: 3rem;
      bottom: 5rem;
      font-size: $fs-lg;
      z-index: 2;
    }

    p {
      position: absolute;
      left: 3rem;
      bottom: 4;
      font-size: $fs-rg;
    }

    .logo {
      top: 2rem;
      left: 2rem;
      width: 5rem;
    }
  }
}
