* {
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0;
}

a {
    font-family: 'Nanum Gothic', sans-serif;
    text-decoration: none;
    font-weight: 700;
}

.row-1 {
    position: relative;
    margin-top: 5rem;
}

.character1 {
    position: absolute;
    left: 10%;
    animation-name: move-character-1;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    img {
        width: 20rem;
        height: auto;
    }
}

.character2 {
    position: absolute;
    top: 70%;
    right: 10%;
    opacity: 0;
    animation-name: move-character-2;
    animation-duration: 1000ms;
    animation-delay: 800ms;
    animation-fill-mode: forwards;
    img {
        width: 20rem;
        height: auto;
    }
}

.outer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
    width: 100%;
    height: auto;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.intro h1 {
    margin-top: 8rem;
    margin-bottom: 6rem;
    line-height: 8rem;
    font-size: 4rem;
    font-weight: 500;
}

.intro strong {
    font-weight: 700;
}

.btn-make-survey {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 5rem;
    border: 0;
    border-radius: 50px;
    color: #fff;
    background-color: #2B44FF;
    font-size: 1.5rem;
    font-weight: 700;
    
}

@keyframes move-character-1 {
    0% {
        transform: translate(0, 0);
        opacity: 0.3;
    }
    100% {
        transform: translate(50px, 0);
        opacity: 1;
    }
}

@keyframes move-character-2 {
    0% {
        transform: translate(0, 0);
        opacity: 0.3;
    }
    100% {
        transform: translate(-50px, 0);
        opacity: 1;
    }
}

@media screen and (max-width:1679px){
    .outer-box {
        margin-top: 10rem;
    }

    .intro h1 {
        margin-top: 8rem;
        margin-bottom: 6rem;
        line-height: 4rem;
        font-size: 2.5rem;
        font-weight: 500;
    }

    .character1 {
        img {
            width: 15rem;
        }
    }

    .character2 {
        img {
            width: 15rem;
        }
    }
}


@media screen and (max-width:1023px) {
    .btn-make-survey {
        font-size: 1.33rem;
        width: 16rem;
        height: 4rem;
    }
    .row-1 {
        margin-top: 10rem;
    }

    .intro h1 {
        margin-top: 10rem;
        margin-bottom: 3rem;
    }

    .character1 {
        left: 0;
        img {
            width: 10rem;
        }
    }

    .character2 {
        text-align: right;
        right: 0%;
        top: 90%;
        img {
            width: 10rem;
        }
    }
}

@media screen and (max-width:767px) {
    .btn-make-survey {
        font-size: 1rem;
        width: 14rem;
        height: 3rem;
    }
    .row-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 5rem;
    }

    .outer-box {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .intro h1 {
        margin-top: 0;
        margin-bottom: 2rem;
        line-height: 3rem;
        font-size: 2rem;
    }

    .character1 {
        position: static;
        margin-top: 2rem;
        img {
            width: 8rem;
        }
    }

    .character2 {
        position: static;
        text-align: right;
        img {
            width: 8rem;
        }
    }
}