@import "/src/scss/style.scss";

.choice-view {
  @include round;
  margin: 3rem auto;
  padding: $card-margin;
  width: 640px;
  height: 400px;
  box-shadow: $shadow-default;
  background-color: #fff;
  transition-duration: 500ms;

  h1 {
    display: block;
    font-weight: 700;
  }

  .chart {
    margin: 3rem auto;
  }
}
