@import "/src/scss/style.scss";

.sidebar {
  transform: translate(-50%, -50%);

  .dot {
    display: block;
    height: 4rem;
    width: 5rem;
    font-size: $fs-rg;

    background-color: none;
    background: none;
    border: none;

    transition-duration: 0.5s;
    cursor: pointer;

    img {
      transition-duration: 0.25s;
    }

    &.unselected {
      img {
        filter: grayscale(100%) brightness(2);
        transform: scale(0.8);
      }
    }
  }

  .dot:hover {
    img {
      transform: scale(1);
    }
  }

  .bar {
    transition-duration: 0.5s;
    width: 3px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.04);
    z-index: -1;
  }
}
