@import "/src/scss/style.scss";

.txt-field {
  font-weight: $fw-bold;
  border: 0;
  border-bottom: solid 2px rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba($color: #fff, $alpha: 0);
  font-size: $fs-rg;

  &.title {
    width: 25rem;
    font-size: $fs-lg;
  }

  &.xl {
    width: 25rem;
  }

  &.lg {
    width: 20rem;
  }

  &.rg {
    width: 10rem;
  }

  &.sm {
    width: 3rem;
    text-align: center;
  }

  &:active {
    border-bottom: solid 2px rgba($color: #000000, $alpha: 0.4);
  }

  &:focus {
    border-bottom: solid 2px rgba($color: #000000, $alpha: 0.4);
  }

  &.textarea {
    display: flex;
    resize: none;
    height: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: left;
  }
}
