@import "/src/scss/style.scss";

.response-ending {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .logo {
    position: absolute;
    top: 3rem;
    left: 3rem;

    img {
      width: 8rem;
      height: auto;
    }
  }

  .link-btn-xl {
    position: fixed;
    bottom: 5rem;
  }

  .celebrate-sentence {
    display: flex;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;

    img {
      width: 6rem;
      &.right {
        opacity: 0;
      }
    }

    h1 {
      font-weight: 700;
      text-align: center;
    }
  }

  overflow: scroll;

  @include mobile {
    .logo {
      top: 2rem;
      left: 2rem;
      img {
        width: 5rem;
      }
    }
    .celebrate-sentence {
      flex-direction: column;
      h1 {
        font-size: $fs-md;
      }
    }
  }
}
