@import "/src/scss/style.scss";

.survey-card {
  @include round;
  opacity: inherit;
  width: 640px;
  padding: $card-margin;
  border: solid 1px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  transition-duration: 500ms;

  .card-header {
    display: flex;
    justify-content: space-between;

    .basic-element {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .inner-box {
    @include text-center;
    width: 100%;
    flex-grow: 1;
    overflow: scroll;
  }

  .preference {
    padding: 0rem;
  }

  .handle {
    z-index: 1;
    position: absolute;
    top: 50%;
    right: -60px;
    transform: translate(-50%, -50%) scale(0.8);
    cursor: grab;
  }

  .delete {
    position: absolute;
    padding: 0;
    right: $card-margin;
    bottom: $card-margin;
    border: 0;
    background-color: #fff;
    transition-duration: 0.5s;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    img {
      width: 100%;
    }

    &.disabled {
      filter: grayscale(100%) brightness(1.8);
      cursor: inherit;
    }
  }

  &.highlight {
    box-shadow: $shadow-default;
    border: solid 0 rgba(0, 0, 0, 0);
    z-index: 1;
  }

  &.ghost {
    transform: translate(-670px, -50%);
  }

  &.hidden {
    transition-duration: 0s;
    opacity: 0;
    z-index: -1;
  }

  &.preview {
    transform: scale(0.975);
  }

  &.hide-handle {
    .handle {
      opacity: 0;
      z-index: -1;
    }
  }

  &.response {
    width: 100%;
    height: 100vh;
    border: none;
  }
}
