@import "/src/scss/style.scss";

.survey-card {
  @include round;
  opacity: inherit;
  padding: $card-padding;
  border: solid 1px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  transition-duration: 500ms;

  .content-box {
    width: 100%;
    flex-grow: 1;
    overflow: hidden;
  }

  .button-box {
    width: 100%;
    text-align: right;
  }

  .handle {
    z-index: 1;
    position: absolute;
    top: 50%;
    right: -60px;
    transform: translate(-50%, -50%) scale(0.8);
    cursor: grab;
  }

  .branch {
    padding: 0;
    right: $card-padding;
    bottom: $card-padding;
    border: 0;
    background-color: transparent;
    transition-duration: 500ms;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    opacity: 1;

    img {
      width: 100%;
    }

    &.disabled {
      filter: grayscale(100%) brightness(1.8);
      cursor: inherit;
    }

    &.hidden {
      opacity: 0;
      z-index: -1;
      cursor: inherit;
    }
  }

  .delete {
    padding: 0;
    right: $card-padding;
    bottom: $card-padding;
    border: 0;
    background-color: transparent;
    transition-duration: 500ms;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    opacity: 1;

    img {
      width: 100%;
    }

    &.disabled {
      filter: grayscale(100%) brightness(1.8);
      cursor: inherit;
    }

    &.hidden {
      opacity: 0;
      z-index: -1;
      cursor: inherit;
    }
  }

  &.highlight {
    box-shadow: $shadow-default;
    border: solid 0 rgba(0, 0, 0, 0);
    z-index: 1;
  }

  &.ghost {
    transform: translate(-100%, -50%) translateX(-30px);
  }

  &.hidden {
    transition-duration: 0s;
    opacity: 0;
    z-index: -1;
  }

  &.preview {
    transform: scale(0.975);
  }

  &.hide-handle {
    .handle {
      opacity: 0;
      z-index: -1;
    }
  }

  &.response {
    width: 100%;
    height: 100vh;
    border: none;
  }

  @include tablet {
    .handle {
      opacity: 0;
    }
  }
}
