@import "/src/scss/style.scss";

.prologue-box {
  display: flex;
  background-color: #dbdfff;
  width: 50%;
  height: 10rem;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  min-width: 640px;
  @include round;
  input {
    margin-bottom: 0.5rem;
    text-align: center;
  }
}
