@import "/src/scss/style.scss";

.prologue-box {
  width: 100%;
  height: 100%;
  z-index: 4;
  overflow: hidden;
  position: relative;

  display: flex;
  flex-direction: column;

  background-color: #fff;
  box-shadow: $shadow-default;
  transition-duration: 500ms;
  padding-left: 1rem;
  padding-right: 1rem;

  .survey-header {
    display: flex;
    align-items: center;
    width: 100%;

    .children-box {
      transition-duration: 500ms;
      width: 10rem;
      display: flex;
      justify-content: space-between;
    }

    .info {
      width: 80%;
    }

    .logo {
      padding-left: (5rem-3.5rem)/2;
      padding-right: 3rem;
      height: 3.5rem;
      transition-duration: 500ms;
      img {
        height: 100%;
      }
    }

    .title-box {
      flex-grow: 1;
      width: 100%;
      height: max-content;
      margin-right: 1rem;
    }
  }

  .fold-button-box {
    width: 100;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    padding: 1rem;
    transform: translateX(-50%);
    button {
      background-color: transparent;
      img {
        width: 70%;
      }
    }
  }

  .description-box {
    width: 100%;
    height: auto;
    textarea {
      width: 100%;
      height: 10rem;
      margin-top: 5rem;
    }
  }

  &.folded {
    height: $header-height;

    .info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    .survey-header {
      height: 100%;
    }

    .fold-button-box {
      width: 1px;
      height: 1px;
      opacity: 0;
      z-index: -10;
    }

    .description-box {
      width: 1px;
      height: 1px;
      opacity: 0;
      z-index: -10;
    }
  }

  &.extended {
    justify-content: center;
    align-items: center;

    .children-box {
      opacity: 0;
    }

    .logo {
      opacity: 0;
      z-index: -10;
    }
  }

  .save-indicator {
    display: flex;
    justify-self: center;
    align-items: center;
    font-size: $fs-rg;
    width: 5rem;
    margin-right: 1rem;
  }

  @include mobile {
    &.folded {
      height: 4rem;
    }
    .survey-header {
      .logo {
        padding: 0;
        padding-left: 1rem;
        height: 3.5rem;
        transition-duration: 500ms;
        img {
          height: 1%;
          opacity: 0;
        }
      }
    }
  }
}
