@import "/src/scss/style.scss";

.header {
	position: relative;
	display: block;
	height: 50px;

	.logo {
		position: absolute;
		top: 3rem;
		left: 3rem;

		img {
			width: 8rem;
			height: auto;
		}
	}

	@include tablet {
		.logo {
			position: absolute;
			top: 2rem;
			left: 2rem;

			img {
				width: 6rem;
			}
		}
	}

	@include mobile {
		.logo {
			position: absolute;
			top: 2rem;
			left: 2rem;

			img {
				width: 5rem;
			}
		}
	}
}
