@import "/src/scss/style.scss";

.main-page {
  width: 100%;
  height: 100%;
  overflow: scroll;

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 3rem;
    width: 100%;
    height: 10rem;
    color: #fff;
    font-size: $fs-rg;
    font-weight: $fw-bold;
    background-color: #212121;
    .description {
      max-width: 800px;
    }
    h1 {
      font-size: $fs-rg;
      margin-bottom: 1rem;
    }
    h4 {
      font-size: $fs-sm;
      margin-top: 0.5rem;
      a {
        color: #fff;
      }
    }
    .copyright {
      font-size: $fs-sm;
      margin: 0.5rem auto;
    }
  }

  @include mobile {
    .footer {
      height: 18rem;
      .copyright {
        margin-top: 1rem;
        margin-bottom: 6rem;
      }
    }
  }
}
