@import "/src/scss/style.scss";

.container {
  display: flex;
  margin-top: 30rem;
  flex-wrap: wrap;
  justify-content: center;

  .row {
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5rem;

    h2 {
      font-size: $fs-lg;
      font-weight: $fw-bold;
      line-height: 5rem;
    }
  }

  .row-1 {
    h2 {
      text-align: left;
    }
  }

  .row-2 {
    h2 {
      text-align: right;
    }
  }

  .row-3 {
    h2 {
      text-align: left;
    }
  }

  @include desktop {
    img {
      width: 20rem;
      margin-top: 2rem;
    }
    .row {
      h2 {
        font-size: 2rem;
        margin-bottom: 8rem;
      }
    }
  }

  @include tablet {
    margin-top: 20rem;

    img {
      width: 20rem;
      margin-top: 5rem;
    }

    .row {
      h2 {
        font-size: 2rem;
        margin-bottom: 8rem;
      }
    }

    .row-1 {
      img {
        width: 30%;
      }
    }

    .row-2 {
      img {
        width: 40%;
      }
    }

    .row-3 {
      img {
        width: 40%;
      }
    }
  }

  @include mobile {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0;
    padding: 1rem;

    img {
      width: 20rem;
      margin-top: 5rem;
      margin-bottom: 5rem;
    }

    .row {
      display: flex;

      h2 {
        font-size: $fs-rg;
        font-weight: $fw-bold;
        line-height: 3rem;
      }

      img {
        margin-top: 2rem;
        width: 50%;
      }
    }

    .row-1 {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 0;
      h2 {
        margin-bottom: 2rem;
      }
      img {
        margin-left: 10rem;
      }
    }

    .row-2 {
      flex-direction: column-reverse;
      align-items: flex-end;
      margin-bottom: 0;
      h2 {
        margin-bottom: 2rem;
      }
      img {
        width: 14rem;
        margin-right: 5rem;
      }
    }

    .row-3 {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 0;
      h2 {
        margin-bottom: 2rem;
      }
      img {
        margin-top: 1rem;
      }
    }
  }
}
