@import "/src/scss/style.scss";

.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  .phrase {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    padding: 5rem;
    background-color: transparent;
    background-image: url(../../assets/images/box.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;

    h1 {
      font-size: $fs-md;
      font-weight: $fw-bold;
      margin-right: 1rem;
    }
  }

  .user-set {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 60%;
    margin-top: 8rem;
    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem 2rem;
      width: 20rem;
      margin: 0 auto;
      margin-bottom: 3rem;
      img {
        margin-bottom: 1rem;
      }
      h1 {
        font-weight: $fw-bold;
        margin-bottom: 1rem;
        word-break: keep-all;
      }
      p {
        word-break: keep-all;
        text-align: center;
      }
      &.one {
        grid-row: 1;
        grid-column: 1;
      }
      &.two {
        grid-row: 1;
        grid-column: 2;
      }
      &.three {
        grid-row: 1;
        grid-column: 3;
      }
      &.four {
        grid-row: 2;
        grid-column: 1;
      }
      &.five {
        grid-row: 2;
        grid-column: 2;
      }
      &.six {
        grid-row: 2;
        grid-column: 3;
      }
    }
  }

  .key-function {
    margin: 10rem auto;
    .page {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 3rem auto;
      margin-bottom: 10rem;
      p {
        word-break: keep-all;
      }
      .hello {
        margin-bottom: 5rem;
        strong {
          color: #2b44ff;
        }
      }
      h1 {
        font-size: $fs-lg;
        font-weight: $fw-bold;
        margin-bottom: 3rem;
      }
      p {
        font-size: $fs-rg;
        margin-bottom: 3rem;
        em {
          font-size: $fs-sm;
          color: #b0b0b0;
        }
      }
      img {
        width: 50%;
      }
      .description {
        text-align: left;
      }
      &.zero {
        margin-bottom: 10rem;
      }
    }
  }

  .section {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    margin: 10rem auto;
    width: 60%;

    .box {
      @include round;
      padding: 2rem 2rem;
      width: 30rem;
      box-shadow: $shadow-default;
      margin: 0 auto;
      overflow: scroll;
      &p {
        font-size: 1.2rem;
        font-weight: $fw-bold;
        margin-bottom: 2rem;
      }

      &.one {
        grid-row: 1;
        grid-column: 1;
        height: auto;
        min-height: 23rem;
      }

      &.four {
        grid-row: 2;
        grid-column: 2;
        min-height: 23rem;
        min-height: 23rem;
      }

      &.five {
        grid-row: 3;
        grid-column: 1;
        height: auto;
        min-height: 23rem;
      }
    }

    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 30rem;
      height: 23rem;
      padding: 3rem;
      margin: 0 auto;
      h1 {
        font-weight: $fw-bold;
        margin: 1rem 0;
      }

      &.two {
        grid-row: 1;
        grid-column: 2;
      }
      &.three {
        grid-row: 2;
        grid-column: 1;
      }
      &.six {
        grid-row: 3;
        grid-column: 2;
      }
    }
  }

  @include tablet {
    margin-top: 1rem;
    .phrase {
      flex-direction: column;
      margin-bottom: 5rem;
      padding: 8rem;

      h1 {
        font-size: $fs-rg;
        font-weight: $fw-bold;
      }
    }
    .user-set {
      width: 45rem;
      margin-bottom: 5rem;
      .box {
        width: 15rem;
      }
    }

    .section {
      width: 40rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-gap: 3rem;
      margin: 0 auto;
      margin-bottom: 5rem;
      .box {
        display: flex;
        align-items: center;
        width: 20rem;
      }
      .text {
        width: 20rem;
        padding: 2rem;
        h1 {
          font-size: $fs-lg;
          font-weight: $fw-bold;
          margin: 1rem 0;
        }
      }
    }
  }

  @include mobile {
    .phrase {
      flex-direction: column;
      margin-bottom: 0;
      padding: 3rem;

      h1 {
        font-size: $fs-rg;
        font-weight: 500;
      }
    }

    .user-set {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      width: 60%;
      margin-top: 8rem;
      .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 2rem;
        width: 12rem;
        margin: 0 auto;
        margin-bottom: 3rem;
        img {
          margin-bottom: 1rem;
        }
        h1 {
          font-weight: $fw-bold;
          margin-bottom: 1rem;
        }
        &.one {
          grid-row: 1;
          grid-column: 1;
        }
        &.two {
          grid-row: 1;
          grid-column: 2;
        }
        &.three {
          grid-row: 2;
          grid-column: 1;
        }
        &.four {
          grid-row: 2;
          grid-column: 2;
        }
        &.five {
          grid-row: 3;
          grid-column: 1;
        }
        &.six {
          grid-row: 3;
          grid-column: 2;
        }
      }
    }

    .key-function {
      width: 70%;
      margin-top: 0;
      margin-bottom: 5rem;
      .page {
        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .section {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 2rem auto;
      padding: 1rem;

      .box {
        width: 80%;
      }

      .text {
        text-align: center;
        margin: 0 auto;
      }
    }
    .make-survey-btn {
      width: 1px;
      height: 1px;
      opacity: 0;
      z-index: -10;
    }
  }
}
