@import "/src/scss/style.scss";

.service {
  width: 70rem;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  margin: 5rem auto;
  .section {
    @include round;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 2rem;
    width: 30rem;
    height: 23rem;
    box-shadow: $shadow-default;

    &p {
      font-size: 1.2rem;
      font-weight: $fw-bold;
      margin-bottom: 2rem;
    }

    &.one {
      grid-column: 1;
      grid-row: 1;
    }

    &.two {
      grid-column: 2;
      grid-row: 2;
    }
  }

  @include mobile {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
