button {
  text-decoration: none;
  font-weight: 700;
  border: 0;
  cursor: pointer;

  &.link-btn {
    @include text-center;
    @include round;
    color: #fff;
    background-color: #2b44ff;
    width: 5rem;
    height: 2.5rem;
    font-size: $fs-rg;
    box-shadow: $shadow-default;
  }

  &.link-btn-lg {
    @include text-center;
    @include round;
    color: #fff;
    background-color: #2b44ff;
    width: 6rem;
    height: 3rem;
    font-size: $fs-rg;
    box-shadow: $shadow-default;
  }

  &.link-btn-xl {
    @include text-center;
    @include round;
    color: #fff;
    background-color: #2b44ff;
    width: 10rem;
    height: 4rem;
    font-size: $fs-rg;
    box-shadow: $shadow-default;
  }
}

a {
  text-decoration: none;
  font-weight: 700;
  :visited {
    text-decoration: none;
  }
  :link {
    text-decoration: none;
  }
  :active {
    text-decoration: none;
  }
  &.link-btn {
    @include text-center;
    @include round;
    color: #fff;
    background-color: #2b44ff;
    width: 5rem;
    height: 2.5rem;
    font-size: $fs-rg;
    box-shadow: $shadow-default;
  }

  &.link-btn-lg {
    @include text-center;
    @include round;
    color: #fff;
    background-color: #2b44ff;
    width: 6rem;
    height: 3rem;
    font-size: $fs-rg;
    box-shadow: $shadow-default;
  }

  &.link-btn-xl {
    @include text-center;
    @include round;
    color: #fff;
    background-color: #2b44ff;
    width: 10rem;
    height: 4rem;
    font-size: $fs-rg;
    box-shadow: $shadow-default;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
