button {
  text-decoration: none;
  font-weight: 700;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  font-weight: 700;

  :visited {
    text-decoration: none;
  }
  :link {
    text-decoration: none;
  }
  :active {
    text-decoration: none;
  }
}

.btn {
  // Reset default settings of button
  border: none;
  text-decoration: none;

  // Set shape
  @include text-center;
  @include round;
  width: 5rem;
  height: 2.5rem;

  // Set font
  color: #fff;
  font-weight: 700;
  font-size: $fs-rg;

  // Set others
  cursor: pointer;
  background-color: #2b44ff;
  box-shadow: $shadow-default;
  transition-duration: 500ms;

  // Options
  &.lg {
    width: 6rem;
    height: 3rem;
  }

  &.xl {
    width: 10rem;
    height: 4rem;
  }

  &.disabled {
    background-color: #888;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
