@import "/src/scss/style.scss";

.survey-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: scroll;

  .logo {
    position: absolute;
    top: 3rem;
    left: 3rem;

    img {
      width: 4rem;
      height: auto;
    }
  }

  .contents-box {
    display: flex;
    justify-content: center;
    align-content: flex-end;
    width: 100%;
    height: 100%;
    .section {
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(7, 1fr);
      grid-gap: 1rem;
      padding: 2rem;
      margin-top: 5rem;
      margin-left: 5rem;
      width: 90%;
      height: 90%;

      .box {
        padding: 1.5rem;
        padding-bottom: 0.5rem;
        width: 100%;
        height: 100%;
        box-shadow: $shadow-default;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 10px;
        h1 {
          font-size: $fs-rg;
          font-weight: $fw-bold;
          color: white;
          word-break: keep-all;
          strong {
            color: #1dff0a;
          }
        }
        h2 {
          display: block;
          font-size: $fs-sm;
          font-weight: $fw-bold;
          margin: 0.5rem 0;
          color: white;
          width: 100%;
          height: 100%;
          word-break: break-all;
          overflow: scroll;
        }
        h3 {
          display: block;
          font-size: $fs-sm;
          font-weight: $fw-bold;
          margin: 0.5rem 0;
          color: white;
          width: 100%;
          height: 100%;
          word-break: break-all;
          overflow: scroll;
        }
        &.one {
          grid-row: 1/3;
          grid-column: 1/3;
          background: linear-gradient(to right, #2b44ff, #1dff0a);
        }

        &.two {
          grid-row: 1/3;
          grid-column: 3/5;
          background: linear-gradient(to right, #707070, #b1b1b1);
          .embed-title {
            display: flex;
            align-items: flex-start;
            .image-border {
              width: 3rem;
              height: 4rem;
              border: 1px solid #fff;
              border-radius: 10px;
              p {
                color: #fff;
              }
            }
            button {
              background-color: transparent;
              img {
                width: 70%;
              }
            }
          }
        }

        &.three {
          grid-row: 3/6;
          grid-column: 3/5;
          flex-direction: column;
          &.email {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .email-input {
              display: flex;
              flex-direction: row;
              align-items: center;
              .email-input-box {
                margin-right: 1rem;
              }
              .email-underline {
                margin-top: 0.5rem;
                background-color: #b1b1b1;
                border: 0;
                height: 2px;
              }
            }
            h1 {
              color: #000;
              margin-bottom: 1rem;
              strong {
                color: #2b44ff;
              }
            }
            p {
              margin-bottom: 1rem;
            }
          }

          button {
            width: 6rem;
            height: 2.5rem;
            font-size: 0.8rem;
            &.success {
              background-color: #009611;
              cursor: auto;
            }
            &.error {
              background-color: #e22f1b;
              cursor: auto;
            }
          }
          p {
            color: red;
            margin-top: 1rem;
            font-size: $fs-sm;
          }
        }

        &.four {
          grid-row: 3/6;
          grid-column: 1/3;
          background: linear-gradient(to right, #2b44ff, #0afff6);
        }

        &.five {
          grid-row: 6/8;
          grid-column: 1/3;
          background: linear-gradient(to right, #2b44ff, #707070);
          .explain {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            .button-box {
              width: 3rem;
              height: 4rem;
              border: 1px solid #fff;
              border-radius: 10px;
              button {
                background-color: rgba($color: #000000, $alpha: 0);
                p {
                  color: #fff;
                }
                img {
                  width: 50%;
                  margin-top: 0.5rem;
                }
              }
            }
          }
        }

        &.six {
          grid-row: 6/8;
          grid-column: 3/5;
          background: linear-gradient(to right, #2b44ff, #707070);
          .explain {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            .button-box {
              width: 3rem;
              height: 4rem;
              border: 1px solid #fff;
              border-radius: 10px;
              button {
                background-color: rgba($color: #000000, $alpha: 0);
                p {
                  color: #fff;
                }
                img {
                  width: 50%;
                  margin-top: 0.5rem;
                }
              }
            }
          }
        }
        &.seven {
          grid-row: 1;
          grid-column: 5/6;
          background: linear-gradient(to right, #b0b0b0, #b3b3b3);
          justify-content: center;
          align-items: center;
          padding: 0;
        }
        &.eight {
          grid-row: 2;
          grid-column: 5/6;
          background: linear-gradient(to right, #b0b0b0, #b3b3b3);
          justify-content: center;
          align-items: center;
          padding: 0;
        }
        &.nine {
          grid-row: 3/4;
          grid-column: 5/6;
          position: relative;
          background: linear-gradient(to right, #ffba00, #ffd800);
          justify-content: center;
          align-items: center;
          padding: 0;
          .draw {
            width: 100%;
            height: 100%;
            h1 {
              font-size: $fs-md;
              margin-bottom: 1rem;
            }
            .draw-content {
              padding: 1rem;
              font-size: $fs-rg;
              color: #fff;
              border-radius: 15px;
              margin-top: 1rem;
              width: 100%;
              height: 20rem;
              overflow: scroll;
              .draw-loading {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 7rem;
                .loading-dot {
                  width: 1rem;
                  height: 1rem;
                  border-radius: 50%;
                  background-color: #fff;
                  margin: 0 1rem;
                  &.one {
                    animation: blink 1s infinite;
                  }
                  &.two {
                    animation: blink 2s infinite;
                  }
                  &.three {
                    animation: blink 3s infinite;
                  }
                }
              }
              .error-message {
                font-size: $fs-sm;
              }
              .table {
                margin-bottom: 2rem;
              }
              ul {
                list-style-type: none;
                li {
                  font-size: $fs-sm;
                }
              }
            }
            .source {
              position: absolute;
              text-align: center;
              bottom: 1rem;
              left: 50%;
              transform: translateX(-50%);
              color: #fff;
              font-weight: $fw-bold;
              a {
                color: #fff;
              }
            }
          }
          &.open {
            grid-row: 3/8;
            grid-column: 5/9;
            display: unset;
            justify-content: unset;
            align-items: unset;
            text-align: unset;
            padding: 2rem;
          }
        }
        &.ten {
          grid-row: 6/8;
          grid-column: 5/6;
          background: linear-gradient(to right, #e22f1b, #eb5240);
          justify-content: center;
          align-items: center;
          padding: 0;
        }
      }
    }
  }

  hr {
    width: 100%;
  }

  @include laptop {
    .contents-box {
      justify-content: space-around;
      max-width: 1200px;
    }
  }

  @include tablet {
    .contents-box {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
