@import "/src/scss/style.scss";

.edit-ending {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  .contents-box {
    display: flex;
    justify-content: center;
    align-content: flex-end;
    .celebrate-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-right: 10rem;
      margin-top: 5rem;
      .celebrate-sentence {
        text-align: start;
        margin-bottom: 2rem;

        img {
          width: 6rem;
          &.right {
            opacity: 0;
          }
        }

        textarea {
          width: 70%;
          margin-right: 1rem;
        }

        h1 {
          font-size: $fs-lg;
          font-weight: 700;
          text-align: start;
          line-height: 1.6;
          strong {
            color: #2b44ff;
          }
        }
      }
      .firework {
        position: absolute;
      }
    }

    .section {
      height: 100%;
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-gap: 2rem;
      padding: 2rem;

      .box {
        @include round;
        padding: 1.5rem;
        padding-bottom: 0.5rem;
        width: 24rem;
        height: 12rem;
        box-shadow: $shadow-default;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h1 {
          font-size: $fs-lg;
          font-weight: $fw-bold;
          color: white;
          word-break: keep-all;
          strong {
            color: #1dff0a;
          }
        }
        h2 {
          display: block;
          font-size: $fs-md;
          font-weight: $fw-bold;
          margin: 0.5rem 0;
          color: white;
          width: 100%;
          height: 100%;
          word-break: break-all;
          overflow: scroll;
        }
        h3 {
          display: block;
          font-size: $fs-rg;
          font-weight: $fw-bold;
          margin: 0.5rem 0;
          color: white;
          width: 100%;
          height: 100%;
          word-break: break-all;
          overflow: scroll;
        }
        &.one {
          grid-row: 1;
          grid-column: 1;
          background: linear-gradient(to right, #2b44ff, #1dff0a);
        }

        &.two {
          grid-row: 1;
          grid-column: 2;
          background: linear-gradient(to right, #707070, #b1b1b1);
          .embed-title {
            display: flex;
            align-items: flex-start;
            .image-border {
              width: 3rem;
              height: 4rem;
              border: 1px solid #fff;
              border-radius: 10px;
              p {
                color: #fff;
              }
            }
            button {
              background-color: transparent;
              img {
                width: 70%;
              }
            }
          }
        }

        &.three {
          grid-row: 2 / 4;
          grid-column: 2;
          flex-direction: column;
          height: 24rem;
          &.email {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .email-input {
              display: flex;
              flex-direction: row;
              align-items: center;
              .email-input-box {
                margin-right: 1rem;
              }
              .email-underline {
                margin-top: 0.5rem;
                background-color: #b1b1b1;
                border: 0;
                height: 2px;
              }
            }
            h1 {
              color: #000;
              margin-bottom: 1rem;
              strong {
                color: #2b44ff;
              }
            }
            p {
              margin-bottom: 1rem;
            }
          }

          button {
            width: 6rem;
            height: 2.5rem;
            font-size: 0.8rem;
            &.success {
              background-color: #009611;
              cursor: auto;
            }
            &.error {
              background-color: #e22f1b;
              cursor: auto;
            }
          }
          p {
            color: red;
            margin-top: 1rem;
            font-size: $fs-sm;
          }
        }

        &.four {
          height: 24rem;
          grid-row: 2 / 4;
          grid-column: 1;
          background: linear-gradient(to right, #2b44ff, #0afff6);
        }

        &.five {
          grid-row: 4;
          grid-column: 1;
          background: linear-gradient(to right, #2b44ff, #707070);
          .explain {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            .button-box {
              width: 3rem;
              height: 4rem;
              border: 1px solid #fff;
              border-radius: 10px;
              button {
                background-color: rgba($color: #000000, $alpha: 0);
                p {
                  color: #fff;
                }
                img {
                  width: 50%;
                  margin-top: 0.5rem;
                }
              }
            }
          }
        }

        &.six {
          grid-row: 4;
          grid-column: 2;
          background: linear-gradient(to right, #2b44ff, #707070);
          .explain {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            .button-box {
              width: 3rem;
              height: 4rem;
              border: 1px solid #fff;
              border-radius: 10px;
              button {
                background-color: rgba($color: #000000, $alpha: 0);
                p {
                  color: #fff;
                }
                img {
                  width: 50%;
                  margin-top: 0.5rem;
                }
              }
            }
          }
        }
      }
    }
  }

  .logo {
    position: absolute;
    top: 3rem;
    left: 3rem;

    img {
      width: 6rem;
      height: auto;
    }
  }

  .link-btn-xl {
    position: fixed;
    bottom: 5rem;
  }

  overflow: scroll;

  @include laptop {
    .contents-box {
      justify-content: space-around;
      max-width: 1200px;
      .celebrate-box {
        margin-right: 3rem;
        .celebrate-sentence {
          h1 {
            font-size: $fs-md;
          }
          img {
            width: 5rem;
          }
        }
      }
      .section {
        grid-gap: 1rem;
        grid-row-gap: 0.5rem;
        .box {
          width: 20rem;
          height: 10rem;
          padding: 1.2rem;
          padding-bottom: 0.5rem;
          h1 {
            font-size: $fs-md;
          }
          h2 {
            font-size: $fs-rg;
          }
          h3 {
            display: block;
            font-size: $fs-sm;
            width: 90%;
          }
          &.three {
            height: 20rem;
            &.email {
              .email-input {
                textarea {
                  font-size: $fs-rg;
                }
              }
            }
          }
          &.four {
            height: 20rem;
          }
          &.five {
            .explain {
              button {
                img {
                  width: 70%;
                }
              }
            }
          }
          &.six {
            .explain {
              button {
                img {
                  width: 70%;
                }
              }
            }
          }
        }
      }
    }
  }

  @include tablet {
    .contents-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      .celebrate-box {
        align-items: center;
        margin: 0 auto;
        margin-top: 15rem;
        .celebrate-sentence {
          display: flex;
          flex-direction: column;
          align-items: center;
          h1 {
            font-size: $fs-md;
            text-align: center;
          }
          img {
            width: 4rem;
            margin-bottom: 1rem;
          }
        }
        a {
          &.home-btn {
            position: absolute;
            bottom: 3rem;
          }
        }
      }

      .section {
        padding: 0;
        margin-bottom: 10rem;
        .box {
          padding: 1rem;
          padding-bottom: 0.5rem;
          &.five {
            .explain {
              button {
                img {
                  width: 100%;
                }
              }
            }
          }
          &.six {
            .explain {
              button {
                img {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
