@import "/src/scss/style.scss";

.branching {
  width: 100%;
  height: 100%;
  overflow: scroll;

  .frame {
    height: 100%;
    min-width: 100%;
    position: relative;
    margin-bottom: 15%;

    .curve {
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      svg {
        position: relative;
        z-index: 0;
        pointer-events: none;
        width: 100%;
        height: 100%;
      }
    }

    .branch-card {
      position: absolute;
      border-radius: 16px;
      border: solid 0.1px rgba(0, 0, 0, 0.1);
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      padding: 1rem;
      box-sizing: border-box;
      background-color: white;

      .title {
        height: 100%;
        font-size: $fs-rg;
        font-weight: $fw-bold;
        overflow: scroll;
      }
      .end {
        position: absolute;
        bottom: 1rem;
        right: 2rem;
        font-weight: $fw-bold;
      }
    }

    .anchor {
      position: absolute;
      transform: translate(-50%, -50%);
      box-shadow: $shadow-default;
      .anchor-dot {
        width: 1rem;
        height: 1rem;
        background-color: #707070;
        border-radius: 5px;
      }
    }

    .default-handle {
      position: absolute;
      transform: translate(-50%, -50%);
      box-shadow: $shadow-default;
      cursor: grab;

      .default-handle-dot {
        width: 1rem;
        height: 1rem;
        background-color: #707070;
        border-radius: 50%;
      }
    }

    .choice {
      position: absolute;
      border: solid 0.1px rgba(0, 0, 0, 0.1);
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border-radius: 16px;
      padding: 1rem 1rem;
      transform: translateY(-50%);
      box-sizing: border-box;
      background-color: white;

      .text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-left: 0.5rem;
        &.last {
          opacity: 0;
        }
      }

      .handle {
        vertical-align: middle;
        position: absolute;
        top: 50%;
        right: 0px;
        transform: translate(50%, -50%);
        box-shadow: $shadow-default;
        cursor: grab;
        z-index: 100;
        .handle-dot {
          width: 1rem;
          height: 1rem;
          background-color: #707070;
          border-radius: 50%;
        }
      }
    }

    .default-branch {
      background-color: #b0b0b0;
      color: white;
      &.last {
        opacity: 0;
        width: 1px;
        height: 1px;
        z-index: -100;
      }
    }
  }

  .comment {
    position: absolute;
    width: 100%;
    height: 15%;
    margin-bottom: 3rem;
    bottom: 0;
    left: 50%;
    padding: 3rem 0;
    transform: translateX(-50%);
    text-align: center;
    background-color: #fff;
    background: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.8) 10%,
      rgba(255, 255, 255, 1) 20%,
      rgba(255, 255, 255, 1)
    );
  }

  @include laptop {
    .frame {
      margin-bottom: 30%;
    }
    .comment {
      height: 20%;
      margin-bottom: 0;
    }
  }
}
