$box-shadow-deep: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$box-shadow-reverse-deep: inset rgba(100, 100, 111, 0.2) 5px 5px 7px 3px;
$box-shadow-reverse-shallow: inset rgba(100, 100, 111, 0.1) 3px 3px 5px 2px;

.element-box {
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	padding: 1rem;
	border-radius: 15px;
	width: 15rem;
	height: 15rem;
	box-shadow: $box-shadow-deep;
	margin-bottom: 3rem;
}

.element-detail {
	font-size: 0.7rem;
	font-weight: 700;
	margin-top: 0.3rem;
	opacity: 0;

	&.selected {
		opacity: 0;
	}
}

.element-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 4rem;
	height: 6rem;
	border-radius: 15px;
	padding: 0;
	background-color: #fff;
	border: 0;
	transition-duration: 200ms;
	box-shadow: inset rgba(100, 100, 111, 0.1) 0px 0px 0px 0px;

	&:hover {
		box-shadow: $box-shadow-reverse-shallow;
		z-index: 2;
		.element-detail {
			opacity: 1;
		}
	}

	&.selected {
		box-shadow: $box-shadow-reverse-shallow;
		z-index: 2;
		animation-name: clicked;
		animation-duration: 200ms;
		animation-timing-function: ease-in;
		.element-detail {
			opacity: 1;
		}
	}
}

@keyframes clicked {
	0% {
		box-shadow: $box-shadow-reverse-shallow;
	}
	50% {
		box-shadow: $box-shadow-reverse-deep;
	}
	100% {
		box-shadow: $box-shadow-reverse-shallow;
	}
}
