@import "/src/scss/style.scss";

.multiple-choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;

  .choice-box {
    display: flex;
    align-items: center;
    .check-box {
      width: 1rem;
      margin: 0 0.6rem;
      &:active {
        width: 1rem;
      }
      &:focus {
        width: 1rem;
      }
    }
  }
}
.del-btn {
  background-color: rgba($color: #fff, $alpha: 0);
  border: 0;
  width: 2rem;
  height: 2rem;
  padding: 0;
  cursor: pointer;
  img {
    width: 1.5rem;
  }
}
.add-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 20rem;
  height: 2rem;
  margin-top: 0.5rem;
  padding: 0;
  border: 0;
  border-bottom: solid 1px rgba(0, 0, 0, 0);
  color: rgba($color: #000000, $alpha: 0.4);
  background-color: rgba($color: #fff, $alpha: 0);
  cursor: pointer;
  img {
    width: 1rem;
    opacity: 0.4;
  }
  p {
    margin: 0 1rem;
    font-size: $fs-rg;
    font-weight: $fw-bold;
    opacity: 0.4;
  }
}
