.admin-survey-viewer {
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
  }

  .card {
    border: solid 1px #eee;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
  }
}
