@import "/src/scss/style.scss";

.sentence-view {
  @include round;
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  padding: $card-margin;
  width: 640px;
  height: 400px;
  box-shadow: $shadow-default;
  background-color: #fff;
  transition-duration: 500ms;

  h1 {
    display: block;
    font-weight: 700;
    margin-bottom: 3rem;
  }

  .contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
  }

  p {
    @include round;
    @include text-center;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    padding: 0.5rem 0.5rem;
    color: #fff;
    font-weight: $fw-bold;
    background-color: royalblue;
    opacity: 0.6;
  }
}
