@import "/src/scss/style.scss";

.preference {
  display: flex;
  float: left;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  z-index: 4;

  .preference-elements {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .preference-box {
    @include text-center;
    margin-bottom: 1rem;
    font-size: $fs-rg;
    font-weight: $fw-bold;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: black;
    box-shadow: $shadow-default-shallow;
    transition-duration: 200ms;
    &.cursor {
      cursor: pointer;
    }
    &.selected {
      background-color: #2b44ff;
      color: #fff;
      transition-duration: 200ms;
    }
  }

  .preference-box-end {
    @include text-center;
    margin-bottom: 1rem;
    font-size: $fs-rg;
    font-weight: $fw-bold;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 15px;
    border: 1.5px dashed rgba(0, 0, 0, 0.4);
    color: black;
    opacity: 0.4;
    box-shadow: $shadow-default-shallow;
  }
}
