@import "/src/scss/style.scss";

.expandable-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 10rem;
  min-height: 1rem;
  color: #000;
  font-weight: $fw-bold;
  position: relative;
  .input-field {
    font-weight: $fw-bold;
    * {
      font-weight: inherit;
    }
  }
  &.lg {
    font-size: $fs-lg;
  }
  &.title {
    font-size: $fs-md;
  }
  &.description {
    font-size: $fs-rg;
  }

  .placeholder {
    pointer-events: none;
    width: max-content;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: #b0b0b0;
    font-weight: $fw-bold;
    opacity: 0.6;
    &.center {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
