@import "/src/scss/style.scss";

.question-common {
  width: 100%;

  .question-detail-box {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding: 0 2rem;

    /*
    ToDo: 다음과 같은 상황에서 어떻게 렌더링되어야 하는가?
    1. 데스크톱 환경이면서
    2. 설문 제목은 짧은 단어 여러 개로 이루어진 긴 문장이며
    3. 각 설문 문항은 매우 짧다.

    이때 문항이 적당히 가운데정렬된다고 하자.
    A. 문항의 가로 길이를 설문 제목의 content-max 에 맞출 수 있다. 그러나 설문 문항이 왼쪽으로 치우친 것처럼 보일 것이다.
    B. 반대로 설문 문항의 content-max 에 맞출 수도 있다. 그러나 설문 제목이 너무 짧아질 것이다.
    C. 설문 문항의 content-max에 맞춘 후 설문 제목이 설문 문항보다 오른쪽으로 빠지게 할 수도 있다.
       그러나 반대로 오른쪼긍로 치우친 것으로 보일 것이다.
    이때 이 문제를 해결하는 방법은 A 설문 문항까지 가운데정렬하는 것이다.
    */

    .question-title-box {
      margin-bottom: 2rem;
      .basic {
        width: 100%;
        display: flex;
        flex-direction: column;
        .description {
          margin-top: 0.5rem;
        }
        &.empty {
          * {
            text-align: center;
          }
        }
      }

      .img-card {
        display: flex;
        align-items: flex-end;
        width: 100%;
        .question-img {
          max-width: 100%;
          margin-top: 1rem;
        }
        .del-btn {
          background-color: transparent;
          img {
            width: 2rem;
          }
        }
      }

      .suggestions {
        @include round;
        position: absolute;
        padding: 1rem 2rem;
        top: 5.5rem;
        left: 5rem;
        color: 000;
        background-color: #fff;
        box-shadow: $shadow-default;
        .suggestion {
          margin: 0.5rem 0;
          font-weight: $fw-bold;
          cursor: pointer;
        }
      }

      .requirement-tag {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #b0b0b0;
        border-radius: 10px;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        margin-right: 1rem;
        width: 3rem;
        height: 1.5rem;
        p {
          font-size: $fs-sm;
          font-weight: $fw-bold;
          color: #fff;
        }
      }
    }
  }

  .question-common-box {
    width: 100%;
    left: $card-padding;
    bottom: $card-padding;
    position: absolute;
    display: flex;
    flex-direction: row-reverse;

    .control-box {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      width: 100%;
      margin-left: 2rem;

      .toggle-box {
        margin-top: 0.5rem;
      }

      .img-btn-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 1rem;
        .img-btn {
          background-color: transparent;
          cursor: pointer;
          width: 3.5rem;
          height: 3.5rem;
          img {
            width: 80%;
          }
          input {
            display: none;
          }
        }
        .loading-indicator {
          font-size: $fs-sm;
          font-weight: $fw-bold;
          color: #707070;
        }
      }
    }
  }

  @include mobile {
    .question-title-box {
      flex-direction: column;
      .requirement-tag {
        margin-bottom: 1rem;
        width: 3rem;
      }
    }
  }
}
