@import "/src/scss/style.scss";

.question-common {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: scroll;

  .question-common-box {
    width: 100%;
    display: flex;
    margin-bottom: 1rem;

    .question-title-box {
      display: flex;
      align-items: flex-start;
      margin-right: 1rem;
      flex-grow: 1;
      .requirement-tag {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #b0b0b0;
        border-radius: 10px;
        margin-top: 0.5rem;
        margin-right: 1rem;
        width: 3.2rem;
        height: 1.6rem;
        p {
          font-size: $fs-sm;
          font-weight: $fw-bold;
          color: #fff;
        }
      }
    }

    .required-toggle-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .question-detail-box {
    width: 100%;
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  @include mobile {
    .question-title-box {
      flex-direction: column;
      .requirement-tag {
        margin-bottom: 1rem;
        width: 3rem;
      }
    }
  }
}
