@import "/src/scss/style.scss";

.question-common {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: scroll;
  padding-left: 15%;
  padding-right: 15%;
  .question-common-box {
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
    flex-direction: row-reverse;

    .required-toggle-box {
      display: flex;
      // flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: absolute;
      width: auto;
      height: auto;
      top: $card-padding;
      right: $card-padding;
      .img-btn {
        background-color: transparent;
        cursor: pointer;
        width: 3.5rem;
        height: 3.5rem;
        margin-right: 1rem;
        img {
          width: 100%;
        }
        input {
          display: none;
        }
      }
    }
  }

  .question-detail-box {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin-left: 10%;
    .question-title-box {
      margin-bottom: 2rem;
      .basic {
        width: 100%;
        display: flex;
        flex-direction: column;
        .description {
          margin-top: 1rem;
        }
        &.empty {
          * {
            text-align: center;
          }
        }
      }
      .question-img {
        max-width: 100%;
        margin-top: 1rem;
      }

      .suggestions {
        @include round;
        position: absolute;
        padding: 1rem 2rem;
        top: 5.5rem;
        left: 5rem;
        color: 000;
        background-color: #fff;
        box-shadow: $shadow-default;
        .suggestion {
          margin: 0.5rem 0;
          font-weight: $fw-bold;
          cursor: pointer;
        }
      }

      .requirement-tag {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #b0b0b0;
        border-radius: 10px;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        margin-right: 1rem;
        width: 3rem;
        height: 1.5rem;
        p {
          font-size: $fs-sm;
          font-weight: $fw-bold;
          color: #fff;
        }
      }
    }
  }

  @include mobile {
    .question-title-box {
      flex-direction: column;
      .requirement-tag {
        margin-bottom: 1rem;
        width: 3rem;
      }
    }
  }
}
