@import "/src/scss/style.scss";

.ending-page {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.survey-sum {
	@include round;
	width: 60rem;
	height: 15rem;
	margin-bottom: 5rem;
	padding: 2rem;
	box-shadow: $shadow-default;
	h1 {
		display: block;
		margin-bottom: 1rem;
	}
	h2 {
		display: block;
		margin-bottom: 2rem;
	}
	p {
		display: block;
		margin-bottom: 1rem;
	}
	p:last-child {
		display: block;
		margin-bottom: 0;
	}
}

.home-btn {
	@include round;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 7rem;
	height: 3rem;
	font-size: 1.3rem;
	color: #fff;
	background-color: #2b44ff;
	box-shadow: $shadow-default;
}
